@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="index">
        <h1>InstaBook</h1>
        <p class="lead">Connecting People</p>
        <p class="btn btn-lg">@Html.ActionLink("Login", "Login", "Home") &raquo;</p>
        <p class="btn btn-lg">@Html.ActionLink("Register", "Register", "Home") &raquo;</p>
    </div>
</div>