@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    Sela Group<br />
    Ranana, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Sanad:</strong> <p>Phone: 0545454545</p> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Daisy:</strong> <p>Phone: 0545454545</p> <a href="mailto:Marketing@example.com">Daisy@example.com</a>
</address>