@model WebSite_SocialNetwork.Models.User

@{
    ViewBag.Title = "Wall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:30px">
    <div class="row">
        @Html.Partial("_IdentityPartial", Model.Identity)
        @foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostPartial", post);
        }
    </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
</div>


