@model WebSite_SocialNetwork.Models.User

@{
    ViewBag.Title = "_NotificationPartial";
}

<div class="list-group col-sm-4">
    <ul id="notificationListView"></ul>
</div>
<script>
    $(document).ready(function () {
        var currentUsername = @Model.Username;
        $.ajax({
            url: 'Notification/GetNotification',
            type: "GET",
            data: { username: currentUsername },
            success: function (response) {
                var notifications = JSON.parse(response);
                for (var i = 0; i < notifications.length; i++) {
                    $("#notificationListView").append("<li>" + notifications[i].Text + "</li>").click(function () {
                        $(this).hide();
                    });
                }
            },
            error: function (response) {
                alert(response);
            }
        });
    });
</script>
