@model WebSite_SocialNetwork.Models.User

@{
    ViewBag.Title = "_NotificationPartial";
}

<div class="list-group col-sm-4">
    <ul id="notificationListView"></ul>
</div>
<script>
    var hubUrl = "http://localhost:55140/";
    var connection = $.hubConnection(hubUrl, { useDefaultPath: false });
    var notificationHubProxy = connection.createHubProxy('NotificationHub');
    alert(1);
    $(document).ready(function () {
        notificationHubProxy.on('GotNotifactionsFromServer', function (username) {
            alert(2);
            console.log(username);
        });
        connection.start().done(function (username) {
            // Wire up Send button to call NewContosoChatMessage on the server.
            notificationHubProxy.invoke('PushNotification', $('#notificationListView').append('<li><strong>' + htmlEncode(username) + '</strong></li>')
        });
        alert(3);
</script>
