body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.index {
    border: 3px solid black;
    text-align: center;
    display: block;
}

body {
    background: url(../images/06.jpg) no-repeat;
    background-size: cover;
    min-height: 100%;
}

html {
    min-height: 100%;
}

button:hover {
    opacity: 0.8;
}

.buttonT {
    background-color: black;
    color: white;
    padding: 9px 15px;
    margin: 8px 0;
    border: dashed;
    cursor: pointer;
    width: 100%;
}

.buttonProfile {
    background-color: grey;
    color: white;
    padding: 9px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.navbar {
    display: none;
    background-color: dimgrey;
}

/*search*/
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}