body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.index {
    border: 3px solid gold;
    text-align: center;
    display: block;
}

body {
    background: url(../images/06.jpg) no-repeat;
    background-size: cover;
    min-height: 100%;
}

html {
    min-height: 100%;
}

button:hover {
    opacity: 0.8;
}

.buttonT {
    background-color: darkgoldenrod;
    color: white;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.navbar {
    display: none;
    background-color: gold;
}

