@model List<WebSite_SocialNetwork.Models.Comment>
@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comments</h2>

@foreach (var comment in Model)
{
    <h3>@comment</h3>
}


